
/* Buttons container */
.buttons-line {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

/* Buttons styling */
.buttons-line button {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--snippet-border-color);
  background-color: var(--button-bg);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s, transform 0.1s;
}

.buttons-line button:hover {
  background-color: var(--button-hover-bg);
  transform: translateY(-1px);
}

.delete-snippet {
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 20px;
  color: var(--delete-snippet);
}

.buttons-line button.copy-btn {
  background-color: var(--important-btn-bg);
}

.buttons-line button.copy-btn:hover {
  background-color: var(--important-btn-hover-bg);
}

