#root {
  width: 100%;
  height: 100%;
}

.app-container {
  height: 100vh;
  padding: 16px;
  background-color: var(--bg-color); 
  display: flex;
  flex-direction: column;
}

.title-container {
  display: grid;
  grid-template-columns:  1fr 0.1fr;
  color: var(--text-color);
  background-color: var(--bg-color); 
}
.header-title{
  color: var(--title-color)
}
.title-container h1 {
  justify-self: center;
  margin: 0;
  color: var(--text-color-importent);
}

.mode-label{
  display: flex; 
  align-items: center;
  gap: 10px;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center; /* vertical alignment in column flex */
  align-items: center;     /* horizontal alignment */
}

.editor-button {
  position: absolute;
  top:100px;
  padding: 12px 24px;         
  font-size: 16px;
  color: var(--text-color, #222);  
  background-color: var(--editor-button); 
  border: none;
  border-radius: 12px;        
  cursor: pointer;
  transition: all 0.25s ease;    
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle depth */
}

.editor-button:hover {
  background-color: var(--editor-button-hover); 
  transform: translateY(-2px);   
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.editor-button:active {
  transform: translateY(0);      /* button press effect */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.snippets-container {
  height: 650px; 
  width: 1800px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-color);
  background-color: var(--displayer-bg-color);
}


