#root{
  width: 100%;
}
.app-container {
  padding: 16px;
}
.title-container {
  text-align: center;
  color: #00cec9;
}
.snippet-card {
  border: 1px solid #ccc;
  margin: 12px 0;
  padding: 12px;
  border-radius: 6px;
  width: 1000px;
}

.snippet-code {
  font-family: monospace;
  font-size: 16px;
  background-color: #f7f7f7;
  border-radius: 4px;
  overflow-x: auto; 
  width:fit-content;
}

.snippet-data {
  display: block; 
  font-size: 0.85em; 
  color: #666; 
  margin-top: 4px;
}