#root {
  width: 100%;
  height: 100%;
}

/* ----------------------------
   Light mode variables
---------------------------- */
.app-container.light {
  --bg-color: #bc1a1a; 
  --editor-bg-color: #fbe5ba;
  --content-bg-color: #fdf5e2;
  --displayer-bg-color: #DED3C4;                
  --text-color: #222222;               
  --text-color-secondary: #666666;     
  --text-color-importent: #00cec9;        
  --card-bg: #f5f5f5;                  
  --card-text: #222222;                
  --code-bg: #f7f7f7;                  
  --border-color: #ccc;               
}

/* ----------------------------
   Dark mode variables
---------------------------- */
.app-container.dark {
  --bg-color: #444444;
  --editor-bg-color: #E0E0E0;
  --content-bg-color: #B0B0B0;  
  --displayer-bg-color: #888888;      
  --text-color: #f1f1f1;
  --text-color-secondary: #cccccc;
  --text-color-importent: #70c8c6;
  --card-bg: #2a2a2a;
  --card-text: #f1f1f1;
  --code-bg: #333333;
  --border-color: #555;
}

.mode-label{
  display: flex; 
  align-items: center;
  gap: 10px;
}

.app-container {
  height: 100vh;
  padding: 16px;
  background-color: var(--bg-color); 
  display: flex;
  flex-direction: column;
}

.title-container {
  display: grid;
  grid-template-columns:  1fr 0.1fr;
  color: var(--text-color);
  background-color: var(--bg-color); 
}

.title-container h1 {
  justify-self: center;
  margin: 0;
  color: var(--text-color-importent);
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--content-bg-color);
}

.editor-container {
  width: 100%;
  height: 25vh;
  overflow: auto;
  background-color: var( --editor-bg-color);
}

.snippets-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-color);
  background-color: var(--displayer-bg-color);
}

.snippet-card {
  position: absolute;
  border: 1px solid var(--border-color);
  margin: 12px 0;
  padding: 12px;
  border-radius: 6px;
  width: 500px;
  height: 200px;
  background-color: var(--card-bg);
  color: var(--card-text);
  overflow: auto;
  display: block;

}

.snippet-code {
  font-family: monospace;
  font-size: 16px;
  background-color: var(--code-bg);
  border-radius: 4px;
  overflow-x: auto; 
  width: fit-content;
  padding: 8px;
}

.snippet-data {
  display: block; 
  font-size: 0.85em; 
  color: var(--text-color-secondary);
  margin-top: 4px;
}
