#root {
  width: 100%;
  height: 100%;
}

.app-container {
  height: 100vh;
  padding: 16px;
  background-color: var(--bg-color); 
  display: flex;
  flex-direction: column;
}

.title-container {
  display: grid;
  grid-template-columns:  1fr 0.1fr;
  color: var(--text-color);
  background-color: var(--bg-color); 
}

.title-container h1 {
  justify-self: center;
  margin: 0;
  color: var(--text-color-importent);
}

.mode-label{
  display: flex; 
  align-items: center;
  gap: 10px;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--content-bg-color);
   
  justify-content: center; /* vertical alignment in column flex */
  align-items: center;     /* horizontal alignment */
}

.snippets-container {
  height: 500px; 
  width: 1800px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-color);
  background-color: var(--displayer-bg-color);
}


