#root {
  width: 100%;
  height: 100%;
}

.app-container {
  height: 100vh;
  padding: 16px;
  background-color: var(--bg-color); 
  display: flex;
  flex-direction: column;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  color: var(--text-color);
  background-color: var(--bg-color); 
}

.title-container h1 {
  grid-column: 2;     
  justify-self: center;
  margin: 0;
  color: var(--text-color-importent);
}

.header-title{
  color: var(--title-color);
}

.title-container h1 {
  justify-self: center;
  margin: 0;
  color: var(--text-color-importent);
}

.mode-label{
  grid-column: 3;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-container {
  flex: 1;
  display: grid;
  place-items: center;  /* centers horizontally & vertically */
  width: 100%;
}

.editor-button {
  width: 300px;
  padding: 12px 24px;         
  font-size: 16px;
  color: var(--text-color, #222);  
  background-color: var(--editor-button); 
  border: none;
  border-radius: 12px;        
  cursor: pointer;
  transition: all 0.25s ease;    
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle depth */
  margin-top: 5px;
}

.editor-button:hover {
  background-color: var(--editor-button-hover); 
  transform: translateY(-2px);   
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.editor-button:active {
  transform: translateY(0);      /* button press effect */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.snippets-container {
  height: 740px; 
  width: 1800px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-color);
  background-color: var(--displayer-bg-color);
}


.clear-all-btn {
  margin-left: 12px;
  padding: 6px 12px;
  background-color: #ed6868;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.clear-all-btn:hover {
  background-color: #c62828;
}
